* {
  text-align: center;
  margin: 10px auto;
}

#calendar_wrap {
  background: #333;
  width: 350px;
}

caption {
  font-size: 1.5em;
  color: #ffa500;
  padding: 10px;
}

caption #prev, caption #next {
  display: inline-block;
  font-size: 5px;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 10px;
}

table, th, td {
  color: #fff;
  border: 1px solid #666;
  border-collapse: collapse;
}

th, td {
  width: 30px;
  padding: 10px;
}

th:first-child, td:first-child {
  color: #ff0000;
}

th:last-child, td:last-child {
  color: #0000ff;
}